{%- liquid
    if block.settings.url != blank
    assign html_tag_open = '<a' | append: ' href="' | append: block.settings.url | append:'" ' | append: 'aria-label="' | append:block.settings.heading_text | append:'"'
    assign html_tag_close = '</a>'
    else
    assign html_tag_open = '<div'
    assign html_tag_close = '</div>'
    endif
-%}
{%- if image_hover -%}
{%- assign item_image_hover = image_hover -%}
{%- else -%}
{%- assign item_image_hover = section.settings.image_hover -%}
{%- endif -%}
{{ html_tag_open }} class="section-media-buttons-parent banner__block-item a--no-hover-color hover-area banner__block-item-with-text {% if item_image_hover == "default" %}{{ settings.image_hover }}{% else %}{{ item_image_hover }}{% endif %}{% if image_ratio_value == '1.00' %} image-aspratio-round--desktop{% endif %}{% if image_ratio_mobile_value == '1.00' %} image-aspratio-round--mobile{% endif %}">
  {%- assign main_image_source = block.settings.image -%}
  {%- capture video_html -%}
  {%- if block.settings.video != blank and block.settings.content_type == "video" -%}
  <video-js class="section__video-media__box"
            data-type="video"
            data-autoplay="{% if block.settings.video_slide_mode contains "autoplay" %}true{% else %}false{% endif %}"
            data-buttons="{% unless block.settings.video_slide_mode contains "autoplay" %}true{% else %}false{% endunless %}">
    <video class="slide-video slide-media" playsinline=""{% if block.settings.video_slide_mode contains "muted" %} muted=""{% endif %} 
           {% if section.index == 1 %}preload="metadata"{% else %}preload="none"{% endif %}
           loop="">
      {%- assign sources = block.settings.video.sources | last -%}
      <source src="{{ sources.url }}"/>
    </video>
  </video-js>
  {%- liquid
      if main_image_source == blank
      assign main_image_source = block.settings.video.preview_image
      endif
  -%}
  {%- elsif block.settings.video_url != blank and block.settings.content_type == "video" -%}
  <video-youtube-js class="section__video-media__box section__video-media__youtube"
                    data-type="youtube"
                    data-mute="{% if block.settings.video_slide_mode contains "muted" %}true{% else %}false{% endif %}"
                    data-autoplay="{% if block.settings.video_slide_mode contains "autoplay" %}true{% else %}false{% endif %}"
                    data-buttons="{% unless block.settings.video_slide_mode contains "autoplay" %}true{% else %}false{% endunless %}">
    <div id="{{ block.settings.video_url.id }}_____{{ section.id }}{{ forloop.index }}" class="embed-player"></div>
  </video-youtube-js>
  {%- endif -%}
  {%- endcapture -%}

  {%- render "component-image",
      image_ratio_value: image_ratio_value,
      image_ratio_mobile_value: image_ratio_mobile_value,
      image_source: main_image_source,
      image_mobile_source: block.settings.image_mobile,
      load_priority_low: load_priority_low,
      section_index: section.index,
      video_html:video_html,
      placeholder_icon: placeholder_icon
  -%}
  {%- if block.settings.image_hover != blank and block.settings.content_type != "video" -%}
  {%- render "component-image",
      image_ratio_value: image_ratio_value,
      image_ratio_mobile_value: image_ratio_mobile_value,
      image_source: block.settings.image_hover,
      image_mobile_source: "",
      load_priority_low: load_priority_low,
      section_index: section.index
  -%}
  {%- endif -%}
  

  {%- capture content -%}
  {%- assign heading_after_description = block.settings.heading_after_description | default: false, allow_false: true -%}
  
  {%- if block.settings.heading_text != blank and heading_after_description == false-%}
  <div>
    <h2 class="mt0 mb0 banner__block-item__heading heading-color-block-hover{% if block.settings.hover_underline %} animation-underline{% endif %}">{{ block.settings.heading_text }}</h2>
  </div>
  {%- endif -%}
    
  {%- if block.settings.desc != blank -%}<div class="mt10 body2 section__richtext__editor section__richtext__editor--mt10">{{ block.settings.desc }}</div>{%- endif -%}

  {%- if block.settings.heading_text != blank and heading_after_description == true -%}
  <div>
    <h2 class="mt10 mb0 banner__block-item__heading heading-color-block-hover{% if block.settings.hover_underline %} animation-underline{% endif %}">{{ block.settings.heading_text }}</h2>
  </div>
  {%- endif -%}

  {%- if block.settings.button_name != blank -%}
  <div class="mt16">
    <div class="btn btn__transition-text native-hover btn-wide-mob"
      {% if block.settings.url == blank %} aria-disabled="true"{% endif %}>
      <div class="btn__texts">
        <span class="btn__top-text is-visible">{{ block.settings.button_name }}</span>
        <span class="btn__bottom-text is-hidden">{{ block.settings.button_name }}</span>
      </div>
    </div>
  </div>
  {%- endif -%}
  {%- endcapture -%}
  {%- if content != blank -%}
  <div class="banner__block-item__content {{ block.settings.position }} {{ block.settings.position_mobile }}">
    <div class="banner__block-item__content__items mt-first-0 {{ block.settings.text_align }}{% if block.settings.show_background %} banner__background-box{% endif %}">
      {{ content }}
    </div>
  </div>
  {%- endif -%}
  {%- unless block.settings.video_slide_mode contains "autoplay" -%}
  {%- liquid
      assign enable_buttons = false
      if block.settings.video != blank and block.settings.content_type == "video"
      assign enable_buttons = true
      elsif block.settings.video_url != blank and block.settings.content_type == "video"
      assign enable_buttons = true
      endif
      -%}
  {%- if enable_buttons -%}
  <div class="section__video-media__ctrl section__video-media-ctrl--mobile section__video-media__ctrl--js">
    <div class="icon-play">{%- render "icon-play" -%}</div>
    <div class="icon-pause">{%- render "icon-pause" -%}</div>
  </div>
  {%- endif -%}
  {%- endunless -%}
{{ html_tag_close }}